/* .single-testimonial {
	width: 770px;
	outline: 0;
	display: block;
	float: left;
	height: 100%;
	min-height: 1px;
	text-align: center !important;

} */

.slider-image {
	height: 10rem;
	width: 10rem !important;
	border-radius: 50%;
}